  <div class="content-container">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://assets.afcdn.com/story/20180620/1163976_w980h638c1cx776cy701.jpg)"></div>
    <div class="cards">
      <div class="card">
        <%= image_tag "balls.svg", alt: "Sextoy" %>
        <div class="card-infos">
          <div>
            <h2>Sextoy 1</h2>
            <p>blablablabla</p>
          </div>
          <a class="btn btn-gradient" href="#">Louer moi</a>
          <h2 class="card-pricing">€12/jour</h2>
          <%= image_tag "theo.jpeg", class: "card-user avatar-bordered", alt: "Theo", width: 200 %>
        </div>
      </div>

      <div class="card">
        <%= image_tag "satisfyer.svg", alt: "Sextoy" %>
        <div class="card-infos">
          <div>
            <h2>Sextoy 2</h2>
            <p>blablablabla</p>
          </div>
          <a class="btn btn-gradient" href="#">Louer moi</a>
          <h2 class="card-pricing">€12/jour</h2>
          <%= image_tag "myriam.jpeg", class: "card-user avatar-bordered", alt: "Myriam", width: 200 %>
        </div>
      </div>

      <div class="card">
        <%= image_tag "ring.svg", alt: "Sextoy" %>
        <div class="card-infos">
          <div>
            <h2>Sextoy 3</h2>
            <p>blablablabla</p>
          </div>
          <a class="btn btn-gradient" href="#">Louer moi</a>
          <h2 class="card-pricing">€12/jour</h2>
          <%= image_tag "julie.jpg", class: "card-user avatar-bordered", alt: "Julie", width: 200 %>
        </div>
      </div>
    </div>
  </div>

