<body class="with-new-header" style>


  <div class="content-container">
    <div class="lien_ajouter_annonce">
      <%= link_to "Ajouter une annonce", new_toy_path %>
    </div>
    <div class="cards">
      <div class="card">
        <%= image_tag "sextoy1.jpg", alt: "Sextoy" %>
        <div class="card-infos">
          <div>
            <h2>Sextoy 1</h2>
            <p>blablablabla</p>
          </div>
          <a class="btn btn-gradient" href="#">Louer moi</a>
          <h2 class="card-pricing">€12/jour</h2>
          <%= image_tag "theo.jpeg", class: "card-user avatar-bordered", alt: "Theo", width: 200 %>
        </div>
      </div>

      <div class="card">
        <%= image_tag "sextoy2.jpg", alt: "Sextoy" %>
        <div class="card-infos">
          <div>
            <h2>Sextoy 2</h2>
            <p>blablablabla</p>
          </div>
          <a class="btn btn-gradient" href="#">Louer moi</a>
          <h2 class="card-pricing">€12/jour</h2>
          <%= image_tag "myriam.jpeg", class: "card-user avatar-bordered", alt: "Myriam", width: 200 %>
        </div>
      </div>

      <div class="card">
        <%= image_tag "sextoy3.jpg", alt: "Sextoy" %>
        <div class="card-infos">
          <div>
            <h2>Sextoy 3</h2>
            <p>blablablabla</p>
          </div>
          <a class="btn btn-gradient" href="#">Louer moi</a>
          <h2 class="card-pricing">€12/jour</h2>
          <%= image_tag "julie.jpg", class: "card-user avatar-bordered", alt: "Julie", width: 200 %>
        </div>
      </div>

      <div class="card">
        <%= image_tag "sextoy4.jpg", alt: "Sextoy" %>
        <div class="card-infos">
          <div>
            <h2>Sextoy 4</h2>
            <p>blablablabla</p>
          </div>
          <a class="btn btn-gradient" href="#">Louer moi</a>
          <h2 class="card-pricing">€12/jour</h2>
          <%= image_tag "jeremy.png", class: "card-user avatar-bordered", alt: "Theo", width: 200 %>
        </div>
      </div>

      <div class="card">
        <%= image_tag "sextoy4.jpg", alt: "Sextoy" %>
        <div class="card-infos">
          <div>
            <h2>Sextoy 4</h2>
            <p>blablablabla</p>
          </div>
          <a class="btn btn-gradient" href="#">Louer moi</a>
          <h2 class="card-pricing">€12/jour</h2>
          <%= image_tag "jeremy.png", class: "card-user avatar-bordered", alt: "Theo", width: 200 %>
        </div>
      </div>

      <div class="card">
        <%= image_tag "sextoy4.jpg", alt: "Sextoy" %>
        <div class="card-infos">
          <div>
            <h2>Sextoy 4</h2>
            <p>blablablabla</p>
          </div>
          <a class="btn btn-gradient" href="#">Louer moi</a>
          <h2 class="card-pricing">€12/jour</h2>
          <%= image_tag "jeremy.png", class: "card-user avatar-bordered", alt: "Theo", width: 200 %>
        </div>
      </div>
    </div>
  </div>
</body>

