<div class="container">
  <div class="left">
    <div class="header">
      <h2 class="animation a1">Connecte toi !</h2>
      <h4 class="animation a2">Utilise ton email et ton mot de passe pour te connecter</h4>
    </div>
    <div class="form">


    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), class: "form") do |f| %>
        <%= f.input :email,
                    placeholder:'Adresse Email',
                    required: false,
                    autofocus: true,
                    label: false,
                    input_html: { autocomplete: "email", class: "form-field animation a3"}%>
        <%= f.input :password,placeholder:'Mot de passe',
                    required: false,
                    label: false,
                    input_html: { autocomplete: "current-password", class: "form-field animation a4"} %>

      <div class="form-actions">
        <%= f.button :submit, "REJOINDRE L'ANTRE ...", class: "submit-btn animation a6" %>
      </div>
    <% end %>
</div>
<%= render "devise/shared/links" %>



  </div>
  <div class="right"></div>
</div>


